**/.idea/
src/Manager/webapp/node_modules/
**/__pycache__/
**/.vscode/
**/backups/
**/testing_folder/
src/Operational/rubysat/satellite_orbit_video2.mp4
src/Operational/rubysat/simulation.txt
src/Operational/rubysat/simulationRelativeTime.txt
src/Manager/webapp/build
*.ini

# Local config files
src/Manager/config/manager_config.ini
src/dataConv/dataConv_config.ini
src/Operational/rubysat/sim_config.ini
src/cyber/cyber/cyber_config.ini

src/Manager/saved_command_files/
src/Manager/config/manager_config.ini
src/Manager/config/manager_config.ini
src/Manager/config/manager_config.ini
