Cartopy==0.23.0
geomag==0.9.2015
matplotlib==3.10.0
msgpack_python==0.5.6
nidaqmx==1.0.2
numpy==2.2.3
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
pandas==2.2.3
PyYAML==6.0.2
PyYAML==6.0.2
skyfield==1.49
